<div class="timeline">
  <div class="container left">
    <div class="content">
      <h5>2019</h5>
      <p>Blockchain: Hyperledger Sawtooth, Multichain</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2018</h5>
      <p>ISS</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>2017</h5>
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2016</h5>
      <p></p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>2015</h5>
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2014</h5>
      <p></p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>2013</h5>
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2012</h5>
      <p>RDC</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>2011</h5>
      <p>Penn Libraries</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2010</h5>
      <p></p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>2009</h5>
      <p>Lightning Gaming</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2008</h5>
      <p></p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>2007</h5>
      <p>Lightning Poker</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2006</h5>
      <p>Intracorp</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>2005</h5>
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2004</h5>
      <p>Chariot Solutions</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>2003</h5>
      <p>Towers Perrin</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>2002</h5>
      <p></p>
    </div>  
  </div>
  <div class="container left">
    <div class="content">
      <h5>2001</h5>
      <p></p>
    </div>  
  </div>
  <div class="container right">
    <div class="content">
      <h5>2000</h5>
      <p>SciQuest</p>
    </div>  
  </div>
  <div class="container left">
    <div class="content">
      <h5>1999</h5>
      <p></p>
    </div>  
  </div>
  <div class="container right">
    <div class="content">
      <h5>1998</h5>
      <p>Emax Solutions Partners</p>
    </div>  
  </div>
  <div class="container left">
    <div class="content">
      <h5>1997</h5>
      <p></p>
    </div>  
  </div>
  <div class="container right">
    <div class="content">
      <h5>1996</h5>
      <p>Covance</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>1995</h5>
      <p>Corning Pact</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>1994</h5>
      <p></p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>1993</h5>
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>1992</h5>
      <p>Sales Technologies</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>1991</h5>
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>1990</h5>
      <p></p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>1989</h5>
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>1988</h5>
      <p>Tele-Dynamics</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h5>1987</h5>
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h5>1986</h5>
      <p>International Computaprint Corp.</p>
    </div>
  </div>
</div>
