<div class="container">
  <div class="skills pa">&nbsp; Problem Analysis<div class="years">31 years&nbsp;</div></div>
</div>
<div class="container">
  <div class="skills sd">&nbsp; Solution Design <div class="years">19 years &nbsp;</div></div>
</div>
<div class="container">
  <div class="skills dd">&nbsp; Database Design <div class="years">11 years &nbsp;</div></div>
</div>
<div class="container">
  <div class="skills ad">&nbsp; Application Development <div class="years">23 years &nbsp;</div></div>
</div>
<div class="container">
  <div class="skills sa">&nbsp; System Administration <div class="years">4 years &nbsp;</div></div>
</div>
<div class="container">
  <div class="skills tp">&nbsp; Test Planning <div class="years">18 years &nbsp;</div></div>
</div>
<div class="container">
  <div class="skills di">&nbsp; Data Integration <div class="years">15 years &nbsp;</div></div>
</div>
<div class="container">
  <div class="skills dcc">&nbsp; Direct customer contact <div class="years">16 years &nbsp;</div></div>
</div>
<div class="container">
  <div class="skills icc">&nbsp; Internal client contact <div class="years">19 years &nbsp;</div></div>
</div>
